*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

html, body{
    width: 100%;
    height: 100%;
}  

:root {
    --bg-color: rgb(175, 172, 203);
    --text-color: #000;
    /* Spacing Variables */
    --space-xs : 4px;
    --space-sm : 8px;
    --space-md : 16px;
    --space-lg : 24px;
    --space-xl : 32px;
    --space-2xl : 48px;
    --space-3xl : 64px;

    /*  border color */
    --border-primary-color: #333333;   

    /*  border radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;   
    --border-radius-2xl: 24px;
    --border-radius-3xl: 64px;
}

html{
    background-color: var(--bg-color);
    color:var(--text-color);
    font-family: 'Poppins', sans-serif;
}

main,section{
    width: 100%;
    height: 100%;
    }

section{
    padding: var(--space-xs);
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(48, 129, 49);
    gap: var(--space-lg);
}

section .infos{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info {
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);

}

.board {
    border : 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    grid-template-rows: repeat(auto-fill, 30px);
}

.block {
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-primary-color);
}
