*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

html, body{
    width: 100%;
    height: 100%;
}  

:root {
    --bg-color: rgb(86, 76, 174);

    --bg-fill-color: rgb(164, 36, 75);

    /* for food*/
    --bg-food-color : rgb(24, 78, 121);

    --text-color: #000;
    /* Spacing Variables */
    --space-xs : 4px;
    --space-sm : 8px;
    --space-md : 16px;
    --space-lg : 24px;
    --space-xl : 32px;
    --space-2xl : 48px;
    --space-3xl : 64px;

    /*  border color */
    --border-primary-color: #0d120e;   

    /*  border radius */
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 12px;
    --border-radius-lg: 16px;
    --border-radius-xl: 20px;   
    --border-radius-2xl: 24px;
    --border-radius-3xl: 64px;
}

html{
    background-color: var(--bg-color);
    color:var(--text-color);
    font-family: 'Poppins', sans-serif;
}

main,section{
    width: 100%;
    height: 100%;
    }

section{
    padding: var(--space-xs);
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(105, 28, 205);
    gap: var(--space-lg);
}

section .infos{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.info {
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--border-primary-color);
    border-radius: var(--border-radius-sm);
    background-color: rgb(217, 49, 208);

}

.board {
    border : 1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    background-color: rgb(43, 202, 202);
}

.block {
    /* width: 80px;
    height: 80px; */
    border: 1px solid var(--border-primary-color);
}

.btn {
    padding: var(--space-sm) var(--space-md);
    border: none;
    border-radius: var(--border-radius-sm);
    cursor : pointer;
    transition: all 0.3s ease;
    background-color: rgb(38, 155, 79);
}

.btn:hover{
    transform: scale(1.1);
}

.fill {
    background-color: var(--bg-fill-color);
}

.food {
    background-color: var(--bg-food-color);
}
.modal{
    height: 100vh;
    width: 100vh;
    position: fixed;
    top: 0;
    background-color: rgb(35, 27, 37);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;

}

.modal .start-game{
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
}   

h3 {
    color: #ff5733;
}